.editButton > button {
  color: #848484;
}

@media screen and (max-width: 680px) {
  .AddIconText {
    display: none;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #383838;
}

.projectTitle {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  color: #383838 !important;
  font-size: 1rem !important;
  font-weight: 550 !important;
}

.description,
.deliverables,
.status,
.category,
.skills,
.courses {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  color: #383838 !important;
  font-size: 1rem !important;
  font-weight: 550 !important;
  margin-top: 1rem;
}

.selectCategories .MuiSelect-select {
  color: #848484 !important;
  font-size: 1rem !important;
  box-shadow: none !important;
}

.inputBox {
  color: #848484 !important;
  font-size: 1rem !important;
  box-shadow: none !important;
}

.dropDown:focus,
.inputBox:focus {
  outline: none;
  border: 1px solid #ced4da;
}

.selectCategories .MuiSelect-select:focus {
  outline: none;
  border: 1px solid #ced4da;
}

.addProjectAction {
  display: flex;
  justify-content: space-around;
}

.addProjectAction .addProjectButton {
  border-radius: 0.3rem;
  border: 2px solid #3758f9;
  background-color: #3758f9;
  color: #fff;
  font-weight: 550;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.addProjectAction .addProjectButton:hover {
  box-shadow: 3px 3px 0px #e1e1e1;
  transform: translateY(-3px) translateX(-3px);
}

.projectActions {
  display: flex;
  flex-direction: row-reverse;
  margin: 1.2rem 0 0 0;
}

.projectActions > button {
  border-radius: 0.3rem;
  border: 2px solid #3758f9;
  background-color: transparent;
  outline: none;
  color: #3758f9;
  font-weight: 550;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.projectActions > button:hover {
  border-color: transparent;
  background-color: #3758f9;
  color: #fff;
}

.projectActions .submitButton {
  margin: 0 1rem 0 0;
}

.projectActions .submitButton:disabled {
  background-color: #3758f9;
  color: #fff;
  opacity: 0.7;
  cursor: not-allowed;
}
