.project {
  padding: 1.25rem 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.courseCode {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #383838;
}

.courseAdvisor {
  font-size: 1rem;
  font-weight: 550;
  color: #848484;
}

.courseActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.applications {
  font-size: 1rem;
  font-weight: 550;
}
